@tailwind base;
@tailwind components;
@tailwind utilities;

/* For WebKit (Safari, Chrome, etc.) */
::-webkit-scrollbar {
  /* or any suitable width */
}

::-webkit-scrollbar-track {
  /* background-color: #DEDEDE; */
}

::-webkit-scrollbar-thumb {
  /* background: #000; Track color */
  /* border: 3px solid var(--lightPink); */
}

body {
  /* width: 100vw; */
  height: 100vh;
}

#root, .login {
  width: 100%;
  /* height: 100%; */
}
 

body {
  height: 100vh;
}

 


.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
} */

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.fake-logo {
  font-size: 1.4rem;
}
.search-note::placeholder {
  color: #E5E5E5;
}
.transition-toggle {
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

/* styling for the mobile search button */
.mobileSearch {
  transition: transform, opacity, 300ms linear;
}

.main-container {
  height: calc(100vh - 80px);
}



.notSelected {
  background-color: #DEDEDE;
}
.notSelected .date {
  color:#888888;
}
.notSelected .title {
  color: #363636;
}
.notSelected .content {
  color: #727272;
}
.notSelected .tagContainer {
  background-color: #EEEEEE;
}
.notSelected .tag {
  color: #8A8A8A;
}




button[data-name='live'] {
  display: none!important;
}

button[data-name='fullscreen'] {
  visibility: hidden!important;
}

td:nth-child(2) {
  padding-left: 10px;
}

.selected {
  background-color: #DEDEDE;
}
.not-selected {
  background-color: #FBFBFB;
}

@media (min-width: 768px) {
   
  .selected {
    background-color: #DEDEDE;
  }
  .not-selected {
    background-color: #FBFBFB;
  }
  .selected .date {
    color:#888888;
  }
  .selected .title {
    color: #363636;
  }
  .selected .content {
    color: #727272;
  }
  .selected .tagContainer {
    background-color: #EEEEEE;
  }
  .selected .tag {
    color: #8A8A8A;
  }
}